body{
    background-color: #E8E6A0;
    font-family: 'Arial', sans-serif;
    color: #533A33;
}
/*
.page-title{
    colour:#2E5AA7
    font-weight: bold;
}
    */
.page-subtitle{
    color:#533A33;
    max-width: 700px;
    margin: 0 auto;
}
.filter-btn{
    background-color: #FAF62B;
    color: #533A33;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.filter-btn:hover{
    background-color: #F7E62B;
    color: white;
}
.resource-card{
    background-color: #B0D2EC;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    height: 100%;
}
.resource-card:hover{
    transform: translateY(-5px);
}
.resource-card h3{
    color: #2E5AA7;
    margin-bottom: 15px;
}
.resource-card p{
    color: #533A33;
    margin-bottom: 10px;
}